@import "bootstrap";

body {
	//padding-top: 60px;
}

aside span, .content {
	display: block;
}



.center {
	text-align: center;
}

#logo {
	float: left;
	padding-top: 11px;
	line-height: 1;
}

footer {
	border-top: 1px solid #eaeaea;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer li {
	float: left;
	text-decoration: none;
	margin-left: 10px;
}

.debug_dump {
	margin-top: 45px;
}

#section_1, #section_2, #section_3 {
	height: 200px;
	color: white;
	display: none;
}

#section_1 {
	background-color: red;
}

#section_2 {
	background-color: blue;
}

#section_3 {
	background-color: green;
}